body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
 }
 
 
 
 
 .navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
 }
 
 
 .nav-left {
  display: flex;
 }
 
 
 .nav-right {
  text-align: right;
  display:flex;
  float:right;
 
 
 }
 
 
 .signup-button {
  background-color: #007BFF;
  color: white;
  border: none;
  display: block;
  float:right;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  }
 
 
 .signup-button:hover {
  background-color: #0056b3;
 }
 
 
 .signin-button {
  background-color:#777;
  color: white;
  border: none;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
   float: right;
 }
 
 
 .signin-button:hover {
  background-color: #333;
 }
 
 
 
 .header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 20px;
 }
 
 
 
 .form-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 
 .button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
 }
 
 
 .button:hover {
  background-color: #0056b3;
 }
 .form-group{
  margin-bottom: 10px;
  margin-top: 10px;
 }
 

 
 .results-container {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 
 
